---
layout:     page
title:      portfolio
icon:       icon-case-2
navgroup:   "main"
navorder:   4
---
{% capture project_path %}{{ site.baseurl }}{{ site.projectimagepath }}{% endcapture %}
{% assign projects = site.portfolio | sort: listing-priority %}

<h5 class="heading heading--subtitle">collection of recent works</h5>

{% for project in projects reversed %}
<div class="row project">
    <div class="col col--4 col--offset--1">
        <div class="js-gallery project__gallery">
            {% if project.feature %}
            <a class="project__gallery-item project__gallery-feature" href="{{ project_path }}{{ project.feature }}">
                <img class="b-lazy" src="{{ project_path }}{{ project.feature }}" data-src="{{ project_path }}{{ project.feature }}" alt="{{ page.title }}">
            </a>
            {% endif %}
            {% for image in project.images %}
            <a class="project__gallery-item" href="{{ project_path }}{{ image.image }}">
                <img class="b-lazy" src="{{ project_path }}{{ image.image }}" data-src="{{ project_path }}{{ image.image }}" alt="{{ page.title }}">
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col col--2">
        <div class="sidebar">
            <header class="sidebar__header">
                <h4 class="project__title">{{ project.title }}</h4>
            </header>
            <section class="sidebar__body">
                <h5 class="project__subtitle">Summary</h5>
                <p class="project__summary">
                    {{ project.summary }}
                    {% if project.link %}<br><a class="project__link btn" href="{{ project.link }}" target="_blank">View Site</a>{% endif %}
                </p>

                <h5 class="project__subtitle">Client</h5>
                <p class="project__client">{{ project.client }}</p>

                <h5 class="project__subtitle">Products</h5>
                <ul class="list--inline">
                    {% for product in project.products %}
                    <li class="project__product">{{ product.product }}</li>
                    {% endfor %}
                </ul>

                <h5 class="project__subtitle">Roles</h5>
                <ul class="list--inline">
                    {% for role in project.roles %}
                    <li class="project__role">{{ role.role }}</li>
                    {% endfor %}
                </ul>

                <h5 class="project__subtitle">Tools</h5>
                <ul class="list--inline">
                    {% for tool in project.tools %}
                    <li class="project__tool">{{ tool.tool }}</li>
                    {% endfor %}
                </ul>

            </section>
        </div>
    </div>
</div>

{% endfor %}
