//
//  Var
$heading__x: $global__x;
$heading__y: $global__y;
//
//  Base
.heading {
    //
}

.heading--subtitle {
    @include small-caps;
    font-family: "Mark", sans-serif;
    font-weight: normal;
    text-transform: lowercase;
    margin-bottom: ($heading__y * 4);
}

