//
//  Var
$project__x:  $global__x;
$project__y:  $global__y;
//
//  Base
.project {
    margin-bottom: ($project__y * 8);
}

.project__gallery {
    @include clearfix;
}

.project__gallery-item {
    font-size: 0;
    float: left;
    width: percentage(1 / 3);
}

.project__gallery-feature {
    width: 100%;
}

.project__title,
.project__subtitle,
.project__link,
.project__client,
.project__product,
.project__role,
.project__tool {
    text-transform: capitalize;
}
